/* 字体图标 */
@font-face {
  font-family: "iconfont"; /* Project id 3116102 */
  src: url("../assets/font/iconfont.ttf") format("truetype");
}

.sun-icon {
  font-family: "iconfont" !important;
  font-size: 0.18rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sun-icon-search:before {
  content: "\e602";
}
.sun-icon-code:before {
  content: "\e603";
}
.sun-icon-phone:before {
  content: "\e604";
}
.sun-icon-collect:before {
  content: "\e605";
}
.sun-icon-user:before {
  content: "\e606";
}
.sun-icon-msg:before {
  content: "\e607";
}
.sun-icon-nonetwork:before {
  content: "\e608";
}
.sun-icon-write:before {
  content: "\e609";
}
.sun-icon-arrowright {
  display: inline-block;
}
.sun-icon-arrowright:before {
  content: "\e60a";
  transform: rotateY(180deg);
  display: block;
}
.sun-icon-arrowleft:before {
  content: "\e60b";
}
.sun-icon-nice:before {
  content: "\e60c";
}
.sun-icon-share:before {
  content: "\e60d";
}
.sun-icon-time:before {
  content: "\e60e";
}
.sun-icon-comment:before {
  content: "\e60f";
}
.sun-icon-close:before {
  content: "\e610";
}
.sun-icon-more:before {
  content: "\e611";
}
.sun-icon-del:before {
  content: "\e612";
}
.sun-icon-video:before {
  content: "\e613";
}
.sun-icon-look:before {
  content: "\e614";
}
.sun-icon-nice2:before {
  content: "\e615";
}
.sun-icon-home:before {
  content: "\e601";
}
.sun-attach:before {
  content: "\e88a";
}
